@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "~react-image-gallery/styles/scss/image-gallery.scss";
@import "~react-image-gallery/styles/css/image-gallery.css";
@import "https://fonts.googleapis.com/css?family=Roboto";

.pictureGallery {
  //padding: 26px !important;
  //box-shadow: 0px 16px 16px #00000066;
  //border-radius: 25px;
  background-color: #1a458a;
  .container {
    max-width: 100%;
    margin: 0px auto;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    border-radius: 12px;
    padding-top: 10px;*/
    box-shadow: 0px 16px 16px #00000066;
    background: #113164 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .galleryHeader {
    padding: 26px 26px 0px 26px !important;
    background-color: #113164;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .seeAllDiv {
    //margin: 0px -10px -5px -10px!important;
    float: right;
  }

  .seeAllItems {
    border: 1px solid #ffb71b;
    line-height: 11px;
    border-radius: 25px;
    padding: 8px 16px;
    font-family: roboto !important;
  }
  .seeAllItems a {
    color: #ffffff !important;
    font-size: 12px;
    text-decoration: none;
    font-family: roboto !important;
  }
  .play-button {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 60px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
  }
  .play-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .play-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 16.5px;
    left: 40px;
    margin: 0 auto;
    border-style: solid;
    border-width: 12.5px 0 12.5px 20px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
  }

  .close-video::before {
    content: "✖";
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 20px;
    padding: 25px;
    z-index: 1;
    line-height: 0.7;
    display: block;
    color: #fff;
  }

  .picGalleryHeader {
    font-size: 20px;
    margin-bottom: 12px;
  }

  .seeAllLabel {
    display: inline;
    padding-left: 20px !important;
  }

  .hrStyle {
    max-width: 100%;
    border-bottom: 1px solid #000;
    border-top: 0px;
  }

  .imageGalleryDiv {
    //margin: 17px 17px 17px 17px;
    margin: 0px;
  }

  .next-arrow {
    display: inline;
    font-size: 10px;
    font-weight: bold;
    float: right;
    padding: 5px;
    margin-right: 10px;
  }

  .errorDiv {
    color: #ffffff;
    background: #0e2851 0 0 no-repeat padding-box;
  }

  .newItemDiv {
    //margin: 0px -10px -5px -10px!important;
    float: right;
  }

  .addNewPicture {
    padding: 4px 0px 4px 4px;
  }

  .addNewPicture a i{
    color: #ffffff !important;
    font-size: 20px;
    margin-left: 20px;
  }


  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
    background-color: $ms-color-themeDark;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-white;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-white;
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
}

:global {
  @import "~office-ui-fabric-react/dist/css/fabric.css";
  .ms-Icon--CircleAddition{
    cursor: pointer !important;
  }
  .image-gallery-svg {
    height: 34px !important;
    width: 20px !important;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    //max-height: calc(70vh - 80px) !important;
    //height: 250px !important;
    max-height: calc(52vh - 80px);
    height: calc(52vh - 80px);
  }

  .fullscreen.image-gallery-content,
  .fullscreen.image-gallery-slide,
  .fullscreen.image-gallery-image {
    max-height: calc(100vh - 80px) !important;
    height: calc(100vh - 80px) !important;
  }
  .fullscreen .video-wrapper{
    max-height: calc(100vh - 100px) !important;
    height: calc(100vh - 80px) !important;
  }

  .fullscreen .image-gallery-image{
    max-height: calc(100vh - 100px) !important;
    height: calc(100vh - 80px) !important;
  }
  .fullscreen .image-gallery-slide{
    max-height: calc(100vh - 100px) !important;
    height: calc(100vh - 80px) !important;
  }
  .fullscreen .image-gallery-thumbnails-wrapper{
    border-radius: 0px !important;
  }

  .fullscreen .image-gallery-thumbnails {
    padding: 10px 0!important;
  }
  .fullscreen iframe{
    height: 100% !important;
    width: 100% !important;
  }
  .image-gallery-thumbnail-image {
    height: 10vh !important;
  }
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    padding: 10px 10px !important;
  }
  .image-gallery-thumbnails-wrapper {
    padding-right: 10px !important;
    padding-left: 10px !important;
    background-color: #113164;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  .image-gallery-thumbnails {
    padding: 26px 0px !important;
  }
  .video-wrapper {
    height: calc(52vh - 80px);
  }
  .videogallerycontent {
    width: 72vh;
    height: calc(52vh - 80px);
  }
 /* .PictureMainContainer{
    padding-left: 38px !important;
    background-color: red !important;
  }
  .VideoMainContainer{
    padding-left: 30px !important;
    background-color: red !important;
  }
  */

  .iconDiv {
    display: inline-flex;
  }
  
  .modalheader {
    // eslint-disable-next-line deprecation/deprecation
    //theme.fonts.xLargePlus,
    //{
    flex       : 1 1 auto;
    border-top : 4px solid #0078d4;
    color      : black;
    display    : flex;
    align-items: center;
    font-weight: bold;
    padding    : 12px 12px 14px 24px;
    //position   : fixed;
    //}
  }

  .newItemSpan {
    font-size: 20px;
  }

  .modalCloseIcon {
    color      : black;
    margin-left: auto !important;

    //margin-top: 4px;
    margin-right: 2px;

    &:hover {
      color: black;
    }
  }

  .imageBodyDiv {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
  }

  .videoBodyDiv {
    overflow-x: hidden;
    overflow-y: auto;
    height: 400px;
  }

  .modalbody {
    flex      : 4 4 auto;
    padding   : 0 24px 24px 24px;
    //overflow-y  : hidden;
    width     : 400px;
    height    : 450px;

  }

  .videoFormModalbody {
    flex      : 4 4 auto;
    padding   : 0 24px 24px 24px;
    //overflow-y  : hidden;
    width     : 400px;
    height    : 550px;

  }

  .modalFotter {
    flex       : 4 4 auto;
    padding    : 0 24px 24px 24px;
    margin-left: auto !important;
    text-align : right;
    //position   : fixed;
  }

  .addItemsRow1 {
    display: inline;
  }

  .saveButton {
    margin-right: 10px;
  }

  .noDataFound {
    text-align: center;
    padding: 30px;
  }

  .detailsListDiv {
    max-width: 120%;
  }

  .uploadDocumentLabel {
    margin: 15px 0 0 0;
  }

  .dropzoneDiv {
    //border: 1px solid black;
    //margin: 0 0 0 15px;
    padding: 0px 10px 0 0;
    width: 95%;
  }

  .fileUpload {
    border: 1px dashed #ccc !important;
    font-size: 12px !important;
    outline: 0 !important;
    padding: 8px !important;
    border-radius: 5px;
    width: 100%;
    display: inline-flex;
  }

  .dvFileName {
    padding: 5px;
    display: inline-flex;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    width: 97.5%;
  }

  // .cssMarginBottom {
  //   margin-bottom: 20px;
  // }

  .videoMetadataFieldDiv {
    margin: 10px 0px 0px 0px;
  }

  .imageMetadataFieldDiv {
    margin: 10px 0px 0px 0px;
  }

  .fileNameErrorSpan {
    color: rgb(164,38,44);
    margin: 5px 0 0 0;
    font-size: 12px;
  }

  .messageBarDiv {
    width: 400px;
    margin: 0px 0px 15px 25px;
  }

  .videoMessageBarDiv {
    width: 400px;
    margin: 20px 0px 15px 20px;
  }

  .warningModalContainer {
    width: 150px;
  }

  .warningModalHeader {
    font-size: 15px;
  }

  .warningModalContent {
    padding: 0 0 0 25px;
  }

  .okayButton {
    width: 50px;
  }

  .addThumbnailImage {
    //padding-Left: 10px;
    color: rgb(3,120,124);
  }

  .image-gallery-slide .image-gallery-description {
    right: 0px !important;
    bottom: 0px !important;
  }

  .image-gallery-thumbnail.active {
    width: 31% !important;
  }
  .image-gallery-thumbnail{
    width: 31% !important;
  }

}
